@using MvcForum.Web.Application.ExtensionMethods
@model MvcForum.Web.ViewModels.Topic.HotTopicsViewModel
@{
    var count = 1;
}
@if (Model.Topics.Any())
{
    <div class="side-box hottopics-box">
        <h5>@Html.LanguageString("Topic.HotTopics")</h5>

        <ul>
            @foreach (var topicViewModel in Model.Topics)
            {
                <li>
                    <img src="@topicViewModel.Topic.User.MemberImage(ForumConfiguration.Instance.GravatarLeaderboardSize)" alt="@Html.Raw(topicViewModel.Topic.User.UserName)" />
                    <a href="@topicViewModel.Topic.NiceUrl">@Html.Raw(topicViewModel.Topic.Name)</a>
                </li>
                count++;
            }
        </ul>

    </div>
}