@using MvcForum.Web.Application.ExtensionMethods
@if (!Context.IsMobileDevice())
{
<script src="@Url.Content("~/scripts/tinymce/tinymce.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/tinymceplugins/ImageUpload/imageupload.js")" type="text/javascript"></script>
    <script type="text/javascript">        
        tinymce.init({
            selector: "textarea.rte",
            browser_spellcheck: true,
            plugins: [
                "autosave link image lists hr anchor forumimageinsert",
                "wordcount visualblocks visualchars code fullscreen media nonbreaking emoticons codesample code"
            ],
            codesample_languages: [
                { text: 'HTML/XML', value: 'markup' },
                { text: 'JavaScript', value: 'javascript' },
                { text: 'CSS', value: 'css' },
                { text: 'PHP', value: 'php' },
                { text: 'Ruby', value: 'ruby' },
                { text: 'Python', value: 'python' },
                { text: 'Java', value: 'java' },
                { text: 'C', value: 'c' },
                { text: 'C#', value: 'csharp' },
                { text: 'C++', value: 'cpp' }
            ],
            toolbar1: "fontselect | fontsizeselect | formatselect | bold italic underline strikethrough bullist hr | link unlink @(ViewBag.ImageUploadType ?? "image") blockquote | emoticons | codesample code",
            fontsize_formats: "8pt 10pt 12pt 13pt 14pt 18pt 24pt 36pt",
            remove_linebreaks: false,
            relative_urls: false,
            menubar: false,
            toolbar_items_size: 'small',
            content_css: app_base + "content/tinymce.css",
            height: 175,
            nonbreaking_force_tab: true
            //setup: function(editor) {
            //    editor.on( 'keydown', function(editor, evt) {
            //        if (evt.keyCode == 9) {
            //            editor.execCommand('mceInsertContent', false, '&emsp;&emsp;');
            //            evt.preventDefault();
            //        }
            //    } );
            //}
        });

        // Language strings
        var buttonTitle = '@(Html.Raw(Html.Lang("TinyMCE.InsertImage.ButtonTitle")))';
        var buttonOk = '@(Html.Raw(Html.Lang("TinyMCE.InsertImage.ButtonOk")))';
        var buttonClose = '@(Html.Raw(Html.Lang("TinyMCE.InsertImage.ButtonClose")))';
        var enterValidUrl = '@(Html.Raw(Html.Lang("TinyMCE.InsertImage.EnterValidUrl")))';
        var selectFile = '@(Html.Raw(Html.Lang("TinyMCE.InsertImage.SelectFile")))';
        var maxImageFileSize = '@(Html.Lang("TinyMCE.InsertImage.MaxFileSize"))';
        var onlyImages = '@(Html.Raw(Html.Lang("TinyMCE.InsertImage.OnlyImages")))';
        var generalError = '@(Html.Raw(Html.Lang("Errors.GenericMessage")))';
    </script>
}
<div class="tinymceholder">    
    @Html.TextArea(string.Empty, new {@class = "rte"})     
</div>
