@using MvcForum.Core.Utilities
@using MvcForum.Web.Application.ExtensionMethods
@model MvcForum.Web.ViewModels.Topic.TopicViewModel
@{
    var postToolTip = string.Concat(StringUtils.ReturnAmountWordsFromString(StringUtils.StripHtmlFromString(Model.StarterPost.Post.PostContent), 50), "....");
}
@if (!Model.Permissions[ForumConfiguration.Instance.PermissionDenyAccess].IsTicked)
{
    <div class="col-md-12 col-xs-12 pd-unset topicrow topicsticky-@(Model.Topic.IsSticky.ToString().ToLower()) topiclocked-@(Model.Topic.IsLocked.ToString().ToLower()) topicsolved-@(Model.Topic.Solved.ToString().ToLower())">
        <div class="col-md-2 rowcreater hidden-xs pd-unset">
            <div class="stats">
                <div class="vote">
                    <div class="votes">
                        <span class="vote-count-post "><strong>@Model.VotesUp.KiloFormat()</strong></span>
                        <div class="viewcount">Lượt thích</div>
                    </div>
                </div>
                <div class="status @(Model.Answers.KiloFormat() != "0" ? "answered":"unanswered")">
                    <strong>@Model.Answers.KiloFormat()</strong>trả lời
                </div>
            </div>
            <div class="views " title="357">
                @Model.Views.KiloFormat() xem
            </div>
        </div>
        <div class="col-md-10 rowdetails ml-10 pd-unset">
            <h3>
                <a title="@Html.Raw(postToolTip)" href="@Html.Raw(Model.Topic.NiceUrl)">
                    @if (Model.Topic.IsSticky)
                    {
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    }
                    @if (Model.Topic.IsLocked)
                    {
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    }
                    @if (Model.Topic.Poll != null)
                    {
                        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                    }
                    @Html.Raw(Model.Topic.Name)
                </a>
            </h3>
            <h4 class="font-size-13">@Html.Raw(postToolTip)</h4>
            <p class="category categorysolved@(Model.Topic.Solved.ToString().ToLower())" style="border-color: @(string.IsNullOrEmpty(Model.Topic.Category.Colour) ? "#ced1d1" : Model.Topic.Category.Colour)">@Html.LanguageString("Topic.Category"): <a href="@Model.Topic.Category.NiceUrl">@Model.Topic.Category.Name</a></p>

            @if (Model.ShowUnSubscribedLink)
            {
                <p>
                    <a href="#" class="emailunsubscription" data-id="@Model.Topic.Id" data-type="topic">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        @Html.LanguageString("Topic.UnSubscribe")
                    </a>
                </p>
            }
            else if (Model.Topic.Tags.Any())
            {
                <div class="tagsinput ">
                    @foreach (var tag in Model.Topic.Tags)
                    {
                        <span class="tag"><span><a href="@Html.Raw(tag.NiceUrl)">@Html.Raw(tag.Tag)</a></span></span>
                    }
                </div>
            }

            <p class="topicrowfooterinfo hidden-lg hidden-md hidden-sm">
                <a href="@Html.Raw(Model.LastPostPermaLink)">
                    <img src="@Model.Topic.LastPost.User.MemberImage(ForumConfiguration.Instance.GravatarLatestBySize)" class="latestby" alt="@Model.Topic.LastPost.User.UserName">
                </a> 
                <a href="@Html.Raw(Model.LastPostPermaLink)">
                    @Html.LanguageString("Topic.LatestBy")
                </a> 
                <a href="@Model.Topic.LastPost.User.NiceUrl">
                    @Model.Topic.LastPost.User.UserName
                </a> 
                @DatesUi.GetPrettyDate(Model.Topic.LastPost.DateCreated.ToString()).
                <span class="stats topicanswers"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> @Model.Answers.KiloFormat()</span>
                <span class="stats topicviews"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> @Model.Views.KiloFormat()</span>
                <span class="stats topicupvotes"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> @Model.VotesUp.KiloFormat()</span>
                <span class="stats topicdownvotes"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> @Model.VotesDown.KiloFormat()</span>
                @if (Model.Topic.Solved)
                {
                    <span class="stats topicsolved"><span class="glyphicon glyphicon-ok green-colour" aria-hidden="true"></span></span>
                }
            </p>
            <p class="topicrowfooterinfo text-right hidden-xs">
                <a href="@Html.Raw(Model.LastPostPermaLink)">
                    <img src="@Model.Topic.LastPost.User.MemberImage(ForumConfiguration.Instance.GravatarLatestBySize)" class="latestby" alt="@Model.Topic.LastPost.User.UserName">
                </a>
                <a href="@Html.Raw(Model.LastPostPermaLink)">
                    @Html.LanguageString("Topic.LatestBy")
                </a>
                <a href="@Model.Topic.LastPost.User.NiceUrl">
                    @Model.Topic.LastPost.User.UserName
                </a>
                @DatesUi.GetPrettyDate(Model.Topic.LastPost.DateCreated.ToString()).
            </p>
        </div>
    </div>
    <div class="clearfix"></div>
}